<div class="component status-pop-card" id="status-pop-card">
    <div class="status-card green" name="share-status">
        <div class="card-title" id="status-ok">OK</div>
    </div>
    <div class="status-card red" name="share-status">
        <div class="card-title" id="status-em">Emergency</div>
    </div>
    <div class="status-card yellow" name="share-status">
        <div class="card-title" id="status-help">Need Help</div>
    </div>
    <div class="status-card gray" name="share-status">
        <div class="card-title" id="status-no">No Status</div>
    </div>
</div>
<div class="black-cover" id="black-cover"></div>
