<div class="bottom-tab" id="bottom-tab">
    <div class="tab-item-container">
        <div class="tab-item" id="tab-item-chats">
            <div class="icon icon-chats"></div>
            <div class="name">
                Chats
            </div>
        </div>
        <div class="tab-item" id="tab-item-announcement">
            <div class="icon icon-announce"></div>
            <div class="name">
                Announcement
            </div>
        </div>
        <div class="tab-item" id="tab-item-directory">
            <div class="icon icon-directory"></div>
            <div class="name">
                Directory
            </div>
        </div>
        <div class="tab-item" id="tab-item-me">
            <div class="icon icon-me"></div>
            <div class="name">
                Me
            </div>
        </div>
    </div>
</div>
