<div class="page-announcement">
    <div class="header-section">
        <h1 class="top-title">Announcement</h1>
        <img class="search-icon" src="../resource/search.svg"/>
    </div>
    <div id="all-announcement">
        <div class="single-announcement">
            <div class="title">
                Please leave the place now!
            </div>
            <div class="content">
                This place is unsafe, so please leave now. The police
            </div>
            <div class="sub-info">
                <div class="name">Alex</div>
                <div class="time">09/02 12:00</div>
            </div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-announcement">
            <div class="title">
                Please leave the place now!
            </div>
            <div class="content">
                This place is unsafe, so please leave now. The police
            </div>
            <div class="sub-info">
                <div class="name">Alex</div>
                <div class="time">09/02 12:00</div>
            </div>
        </div>
        <div class="right-thin-line"></div>
    </div>
    <div class="_blank_80height"></div>
</div>
