<div class="page-chats">
    <div class="header-section">
        <h1 class="top-title">Chats</h1>
        <img class="search-icon" src="../resource/search.svg"/>
    </div>
    <div class="public-chat">
        <div class="single-chat common-list-item" id="public-chat-entrance">
            <div class="avatar public-wall">Public</div>
            <div class="chat-info">
                <div class="username">Public Wall</div>
                <div class="latest-message">
                    <div class="latest-message-content" id="latest-public-message-content"></div>
                    <div class="latest-message-time" id="latest-public-message-time"></div>
                </div>
            </div>
        </div>
        <div class="right-thin-line"></div>
    </div>
    <div id="all-chats"></div>
    <div class="_blank_80height"></div>
</div>
