<div class="page-single-chat page">
    <div class="navbar-header">
        <div class="navbar-back-arrow" id="navbar-back-arrow"></div>
        <div class="navbar-title" id="single-chat-navbar-title"></div>
    </div>
    <div class="new-message-tip" id="new-message-tip">New Message</div>
    <div class="bubble">
        <div class="bubble-wrap" id="bubble-wrap">
            <div id="blank-bubble"></div>
        </div>
    </div>
    <div class="input-container">
        <input type="text" id="message-input" placeholder="Type your message"/>
        <div class="send-btn" id="send-btn">SEND</div>
    </div>
</div>
