<div class="page-home page">
    <h1 class="top-title">Emergency Social Network</h1>
    <div class="dash-under-title"></div>
    <div class="body-text">
        The goal of <strong>Emergency Social Network</strong> is to provide civilians with a social network that they
        can use during
        emergency situations. The system is different from other existing social networks because it is specifically
        designed to effectively support small communities of civilians seriously affected in case of natural disasters
        like earthquake, tsunami, tornado, wildfire, etc.
    </div>
    <div class="sign-btn-container">
        <div class="sign-btn"><a href="/app/#/join">JOIN COMMUNITY</a></div>
    </div>
</div>
