<div class="page-join page min-width-335">
    <h1 class="top-title">Join Community</h1>
    <div class="dash-under-title"></div>
    <div class="form">
        <div class="form-item">
            <div class="title">User Name</div>
            <div class="input-container">
                <input class="input" type="text" id="username"/>
            </div>
            <div class="thin-line"></div>
            <div class="error-hint" id="username-hint"></div>
        </div>
        <div class="form-item">
            <div class="title">Password</div>
            <div class="input-container">
                <input class="input" type="password" id="password"/>
            </div>
            <div class="thin-line"></div>
            <div class="error-hint" id="password-hint"></div>
        </div>
    </div>
    <div class="bottom-btn" id="register-btn">
        <div class="text">
            JOIN
        </div>
        <img class="arrow" src="../resource/arrow.svg"/>
    </div>
</div>
