<div class="page-me">
    <div class="avatar-username">
        <div class="avatar" id="page-me-avatar"></div>
        <div class="username" id="page-me-username"></div>
    </div>
    <div class="me-page-menus">
        <div id="user-status" class="single-menu common-list-item">
            <div class="menu-text">My Status</div>
            <div class="status" id="page-me-status">
                OK
            </div>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="user-guide-entrance">
            <div class="menu-text">User Guide</div>
            <img src="../resource/gray-right-arrow.svg"/>
        </div>
        <div class="right-thin-line"></div>
        <div class="single-menu common-list-item" id="logout-menu">
            <div class="menu-text">Logout</div>
        </div>
        <div class="right-thin-line"></div>
    </div>
    <div class="_blank_80height"></div>
</div>
