<div class="page-welcome page" id="page-welcome">
    <h1 class="top-title" id="welcome-title">Register Success!<br>Get started with ESN</h1>
    <div class="dash-under-title"></div>
    <div class="body-text">
        The goal of Emergency Social Network is to provide civilians with a social network that they can use during
        emergency situations. After you logged in the app, you may set up your current status in “me” page at any time.
    </div>
    <div class="my-status-card shadow-card">
        <div class="my-status-text">My Status</div>
        <div class="ok-status">OK</div>
    </div>
    <div class="body-text">
        We provide these four different status: OK means I am OK, I do not need help. We use Green to label this status;
        Help means I need help, but this is not a life threatening emergency. We use Yellow to label this status;
        Emergency means I need help now: this is a life threatening emergency! We use Red to label this status. If you
        do not set any status or you do not want to provide your status, you can set your status as No Status. We use
        gray to label this status.
    </div>
    <div class="status-card green shadow-card">
        <div class="card-title">OK</div>
        <div class="card-desc">I‘m OK, I do not need help.</div>
    </div>
    <div class="status-card red shadow-card">
        <div class="card-title">Emergency</div>
        <div class="card-desc">I need help now: this is a life threatening emergency!</div>
    </div>
    <div class="status-card yellow shadow-card">
        <div class="card-title">Help</div>
        <div class="card-desc">I need help, but this is not a life threatening emergency.</div>
    </div>
    <div class="status-card gray shadow-card">
        <div class="card-title">No Status</div>
        <div class="card-desc">The user has not provided any status info.</div>
    </div>
    <div class="body-text">
        We will display your current status on your avatar, and it is visible to everyone. For example, we will display
        the status on the directory screen, chat screens, etc. If you are in emergency status, the background of your
        chat bubble will be red to make sure other people can see your messages.
    </div>
    <div class="user-card shadow-card">
        <div class="avatar">A</div>
        <div class="status-circle"></div>
        <div class="username">ALEXANDRA</div>
    </div>
    <div class="bubble-card shadow-card">
        <div class="avatar">A</div>
        <div class="status-circle"></div>
        <div class="bubble">
            <div class="bubble-msg">
                I need help now! Is there anybody near me?
            </div>
            <div class="sub-info">
                <div class="username">Alex</div>
                <div class="time">09/07 12:00</div>
            </div>
        </div>
    </div>
    <div class="bottom-btn" id="understand-btn">
        <a href="/app/#/directory">
            <div class="text">
                I understand
            </div>
            <img class="arrow" src="../resource/arrow.svg"/>
        </a>
    </div>
    <div class="_blank"></div>
</div>
